* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Red Hat Display', sans-serif;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: #D6E1FF url('./assets/images/pattern-background-desktop.svg') no-repeat;
    background-color: #E0E8FF;
}